table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: gray;
}

h1 {
    text-align: center;
}